//Default varible overrides
$primary: #485fc7;

header{
  padding:20px;
}
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/form/_all";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/layout/hero";
@import "../../node_modules/bulma/sass/layout/section";
@import "../../node_modules/bulma/bulma";


*{
  font-family: "Noto Sans Kr";
}